# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
android/build/
ios/build/
android/app/build/
ios/Pods/
*.xcodeproj/
*.xcworkspace/
*.log
*.pot
*.xcuserstate
*.bak
*.orig
*.zip
*.apk
*.aab

# IDE
.vscode/
.idea/